In [2]:
#4collections.py

# 4.1 PYTHON Lists

fruits = ["kiwi", "pineapple", "apple"]

# 4.1.1 Print the second item in the fruits list.
# TODO: Write your code below
print('Second item in the list:', fruits[1])

Second item in the list: pineapple

In [3]:
fruits = ["kiwi", "pineapple", "apple"]
# 4.1.2 Change the value from "kiwi" to "orange", in the fruits list.
# TODO: Write your code below
fruits[0] = "orange"
print(fruits)

['orange', 'pineapple', 'apple']

In [5]:
fruits = ["kiwi", "pineapple", "apple"]
# 4.1.3 Use the insert method to add "lemon" as the second item in the fruits list.
# TODO: Write your code below
fruits.insert(1,"lemon")
print("updated fruits list after inserting lemon:", fruits)

updated fruits list after inserting lemon: ['kiwi', 'lemon', 'pineapple', 'apple']

In [6]:
fruits = ["kiwi", "pineapple", "apple"]
# 4.1.4 Use the remove method to remove "pineapple" from the fruits list.
# TODO: Write your code below
fruits.remove("pineapple")
print("updated fruits list after remove pineappe:", fruits)

updated fruits list after remove pineappe: ['kiwi', 'apple']

In [7]:
fruits = ["kiwi", "pineapple", "apple"]
# 4.1.5 Use negative indexing to print the last item in the list.
# TODO: Write your code below
print("last item in fruits:", fruits[-1])

last item in fruits: apple

In [8]:
# 4.1.6 Use a range of indexes to print the third, fourth, and fifth item in the list fruits2.

fruits2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# TODO: Write your code below
print("third, fourth and fifth items:", fruits2[2:5])

third, fourth and fifth items: ['cherry', 'orange', 'kiwi']

In [9]:
fruits2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# 4.1.7 Use the correct syntax to print the number of items in the list fruits
# TODO: Write your code below
print("items count",len(fruits))

items count 3

In [28]:
# 4.1.8  Write a program that add the average of numbers in a list scores.
# you are not allowed to use the sum() or len() functions.

# TODO: Write your code below
scores = [50, 55, 56, 70, 80, 60, 66]
length = 0
total = 0
for x in scores:
    total += x
    length += 1
print(total)
print(length)
print(total/length)

437
7
62.42857142857143

In [30]:
# 4.1.9 Write a program that calculates the highest number in a list scores
# you are not allowed to use the max or min functions.
scores = [50, 55, 56, 70, 80, 60, 66]

# TODO: Write your code below
max = -100
for x in scores:
    if x>max:
        max=x
print('largest number in scores list is:', max)

largest number in scores list is: 80

In [32]:
# 4.2. PYTHON Dictionaries

car = {
  "brand": "Renault",
  "model": "Clio",
  "year": 2018
}

# 4.2.1 Use the get method to print the value of the "model" key of the car dictionary.
# TODO: Write your code below

print('value for model in car dictonnary:', car.get('model'))

value for model in car dictonnary: Clio

In [33]:
# 4.2.2 Change the "year" value from 2018 to 2020 in the car dictionary.
# TODO: Write your code below
car["year"] = 2020
print('updated value of year:', car['year'])

updated value of year: 2020

In [34]:
# 4.2.3 TODO: Add the key/value pair "color" : "blue" to the car dictionary.
# TODO: Write your code below

car["color"] = "blue"
print("updated dictionary car", car)

updated dictionary car {'brand': 'Renault', 'model': 'Clio', 'year': 2020, 'color': 'blue'}

In [35]:
# 4.2.4 Use the pop method to remove "model" from the car dictionary.
# TODO: Write your code below
car.pop('model')
print('model removed from car dict:', car)

model removed from car dict: {'brand': 'Renault', 'year': 2020, 'color': 'blue'}

In [36]:
# 4.2.5 Use the clear method to empty the car dictionary.
# TODO: Write your code below
car.clear()
print('cleared car dict:', car)

cleared car dict: {}